@model OrderVM

<form  id="orderForm"  method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="single-input-item">
                <label asp-for="FullName" class="required">First Name</label>
                <input type="text" id="f_name" asp-for="FullName" placeholder="First Name" required />
            </div>
        </div>

        
    </div>

    <div class="single-input-item">
        <label asp-for="Email" class="required">Email Address</label>
        <input type="email" id="email"asp-for="Email" placeholder="Email Address" required />
    </div>


    <div class="single-input-item">
        <label asp-for="Country" class="required">Country</label>
        <select asp-for="Country" name="country nice-select" id="country">
            <option value="Afghanistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="India">India</option>
            <option value="Pakistan">Pakistan</option>
            <option value="England">England</option>
            <option value="London">London</option>
            <option value="London">London</option>
            <option value="Chaina">China</option>
        </select>
    </div>

    <div class="single-input-item">
        <label asp-for="Address" class="required mt-20">Address</label>
        <input asp-for="Address" type="text" id="street-address" placeholder="Address " required />
    </div>

   

    <div class="single-input-item">
        <label asp-for="City" class="required">City</label>
        <input asp-for="City" type="text" id="town" placeholder="City" required />
    </div>

    


    <div class="single-input-item">
        <label asp-for="State">State</label>
        <input asp-for="State" type="text" id="phone" placeholder="Phone" />
    </div>

    <div class="checkout-box-wrap">
        <div class="single-input-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="create_pwd">
                <label class="custom-control-label" for="create_pwd">
                    Create an
                    account?
                </label>
            </div>
        </div>
        <div class="account-create single-form-row">
            <p>
                Create an account by entering the information below. If you are a
                returning customer please login at the top of the page.
            </p>
            <div class="single-input-item">
                <label for="pwd" class="required">Account Password</label>
                <input type="password" id="pwd" placeholder="Account Password" required />
            </div>
        </div>
    </div>

    <div class="checkout-box-wrap">
        <div class="single-input-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ship_to_different">
                <label class="custom-control-label" for="ship_to_different">
                    Ship to a
                    different address?
                </label>
            </div>
        </div>
        <div class="ship-to-different single-form-row">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-input-item">
                        <label asp-for="FullName" class="required">FullName</label>
                        <input asp-for="FullName" type="text" id="f_name_2" placeholder="FullName" required />
                    </div>
                </div>


            </div>


            <div class="single-input-item">
                <label asp-for="Email" class="required">Email Address</label>
                <input type="email" id="email" asp-for="Email" placeholder="Email Address" required />
            </div>


            <div class="single-input-item">
                <label asp-for="Country" class="required">Country</label>
                <select asp-for="Country" name="country nice-select" id="country">
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Albania">Albania</option>
                    <option value="Algeria">Algeria</option>
                    <option value="Azerbaijan">Azerbaijan</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="India">India</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="England">England</option>
                    <option value="London">London</option>
                    <option value="London">London</option>
                    <option value="Chaina">China</option>
                </select>
            </div>

            <div class="single-input-item">
                <label asp-for="Address" class="required mt-20">Address</label>
                <input asp-for="Address" type="text" id="street-address" placeholder="Address " required />
            </div>



            <div class="single-input-item">
                <label asp-for="City" class="required">City</label>
                <input asp-for="City" type="text" id="town" placeholder="City" required />
            </div>




            <div class="single-input-item">
                <label asp-for="State">State</label>
                <input asp-for="State" type="text" id="phone" placeholder="Phone" />
            </div>


        </div>
    </div>

    <div class="single-input-item">
        <label for="ordernote">Order Note</label>
        <textarea name="ordernote" id="ordernote" cols="30" rows="3" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
    </div>
</form>

